* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
.hero-cont {
    display: flex;
    padding-left: 140px;
    padding-right: 140px;
    background-color: #1f2937;
    justify-content: flex-end;
    color: #F9FAF8;
}
.hero-headings {
    display: inline-flex;
    gap: 5px;
    font-size: 9px;
}
.hero-head {
    display: inline;
    margin-right: auto;
}
.hero-head h2 {
    font-size: 24px;
    margin-top: 18px;
    margin-bottom: 0;
}
.hero-headings h3 {
    font-size: 18px;
    font-weight: 200;
    color: #e5e7eb;
}
.main-cont1 {
    display: flex;
    background-color: #1f2937;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.img1 {
    width: 450px;
    height: 200px;
    margin-left: 20px;
}
.cont11 h1 {
    color: #F9FAF8;
    font-size: 40px;
    margin: 0;
}
.cont11 p {
    color: #e5e7eb;
    font-size: 15px;
}
.cont11 button {
    text-align: center;
    height: 50px;
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 550;
    border-radius: 7px;
    border: #3882F6;
}
.main-cont2 {
    display: flex;
    flex-direction: column;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 60px;
    padding-bottom: 60px;    
}
.cont21 h2 {
    display: inline;
    color: #19212c;
    font-weight: bolder;
    font-size: 30px;
}
.cont21 {
    display: flex;
    justify-content: center;
}
.cont22 {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.cont22 div {
    height: 170px;
    width: 160px;
    border: 3.5px solid #3882F6;
    border-radius: 10px;
}
.cont23 {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.cont23 p {
    width: 160px;
    height: auto;
    text-align: center;
    color: #2c2f35cf;
}
.main-cont3 {
    background-color: #e5e7ebbc;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.cont31 p {
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
    color: #4B5563;
}
.cont32 {
    padding-left: 1100px;
}
.cont32 h4 {
    display: inline;
}
.main-cont4 {
    display: inline-flex;
    align-self: center;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
    width: auto;
    background-color: #3882F6;
    border: solid #3882F6;
    border-radius: 7px;
    color: white;
}
.cont41 {
    margin-right: 195px;
}
.cont41 h3 {
    font-size: 23px;
    margin: 0;
}
.cont41 p {
    font-weight: 300;
}
.cont42 {
    align-self: center;    
}
.cont42 button {
    text-align: center;
    height: 35px;
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 550;
    border-radius: 5px;
    border: solid #F9FAF8;
}
footer {
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding-top: 40px;
    padding-bottom: 15px;
}